<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <form action="http://localhost:3000/contact" id="form" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="name">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="email">
        <label for="number">Number</label>
        <input type="text" id="number" name="phone" value="number">
        <label for="message">Message</label>
        <input type="text" id="message" name="message" value="message">
        <input type="submit" name="submit" id="submit" value="submit">
    </form>
</body>

</html>