<h1>Games</h1>

<ul>
  <% for game in @games %>
    <li><strong>Title: <%= game.title %></strong> 
    <ul>
      
      <li>Rating: <%= game.rating %> </li>
      <li>Gross Earnings: <%= number_to_currency(game.total_gross) %> </li>
    </ul>
    </li>
  <% end %>
</ul>

